@model Foto
@{

    Layout = "_Layout";
    var foto = Model;
}

<div>

    <img src="@foto.Url" class="card-img-top" alt="@foto.Title">

    <div class="p-3"><p>Nome: @foto.Title</p></div>

    <div class="p-1"><p>Descrizione: @foto.Description</p></div>

    <div>
        <p>
            Categoria:

        </p>
      @*  <p class="text-red">
            @if (foto.Categorie != null)
            {
                @foto.Categorie
            }
            else
            {
                <span>Nessuna Categoria</span>
            }

        </p>*@
    
    </div>

</div>

<div>

    <div class="p-3">
        <form asp-controller="Home" asp-action="Delete" asp-route-id="@foto.Id" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger btn-lg">
                Elimina
            </button>

        </form>
    </div>

    <div class="p-3">
        <a class="btn btn-danger btn-lg" href="@Url.Action("Update","Home", new{Id = @foto.Id})">Modifica</a>
    </div>
</div>